# **실습 10-1**

In [0]:
# [표11-1]의 예를 바탕으로 한 구조화된 데이터
locs = [('고려대학교', 'In', '서울'),
        ('Naver', 'In', '성남'),
        ('KT 위즈', 'In', '수원'),
        ('한화 이글스', 'In', '대전'),
        ('NC 소프트', 'In', '성남'),
        ('삼성', 'In', '서울')]

In [0]:
# 서울에 있는 기관 출력 
query = []

for (e1, rel, e2) in locs:
  if e2=='서울':
    query.append(e1)

print(query)

['고려대학교', '삼성']